#search_background
	#search_header= image_tag('newheader-home.png')
	.row
		#search_search_bar.span8.offset1
			= form_tag "/search", :method => "get" do
				= text_field_tag :q, 'data', :class => 'input-tklarge'
				= submit_tag "Search", :class => 'btn-tklarge'